.colazione{
    color: rgb(255, 255, 255);
    font-size:20px;
    font-family: serif;
    text-align: right;
    float: right;
    padding-left: 1100px;
    margin-top: 0%;
    position: absolute;
}
body{
    background-color: rgb(245, 247, 232);
    
}
#titolo1 {
    margin: 0%;
    background-image: url(http://t3.gstatic.com/images?q=tbn:ANd9GcQ62jSxB1X67lq8707px9LvKRzr-NfizfeJKxYwrXu37NJ1IX1V);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 250%;
    font-weight: normal;
    line-height: 600px;
    text-align: center;
    width: 1500px;
    height: 600px;
    float: left;
    margin-top: 0%;
    position: static;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#socialmedia {
    float: left;
    margin-top: 0px;
    padding-left: 0px;
    position: absolute
    
}
#discover {
    text-align: left;
    float: left;
    padding-left: 300px;
    padding-top: 610px;
    font-size: 30px;
    font-style: oblique;
    font-family: cursive;
    color: rgb(255, 136, 0);
    position: absolute;
}
#your {
    text-align: left;
    float: left;
    padding-left: 220px;
    padding-top: 60px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 14, 75);
}
#immagine1 {
    float: left;
    padding-left: 950px;
    margin-top: 650px;
    position: absolute;
}
.dentrotestata{
    text-align: center;
    float: left;
    padding-left: 145px;
    font-size: 23px;
    font-weight: 400;
    width: 650px;
    height: 200px;
    position: absolute;
    padding-top: 720px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#secondaimg {
  float: left;
  padding-left: 4px;
  margin-top: 200px;
  position: static;
  size: 100px;
}
#titolo2 {
    float: left;
    position: absolute;
    font-size: 40px;
    padding-left: 460px;
    margin-top: 1145px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#sweet {
    text-align: left;
    float: left;
    padding-left: 1120px;
    padding-top: 1530px;
    font-size: 30px;
    font-style: oblique;
    font-family: cursive;
    color: rgb(255, 136, 0);
    position: absolute;
}
#break {
    text-align: left;
    position: absolute;
    float: left;
    padding-left: 1070px;
    padding-top: 1580px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 14, 75);
}
.dentrotestatadue{
    text-align: center;
    float: right;
    padding-left: 960px;
    font-size: 25px;
    font-weight: 400;
    width: 1400px;
    height: 1000px;
    position: absolute;
    padding-top: 1650px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#immagine2 {
    float: left;
    padding-left: 90px;
    margin-top: 50px;
    position: static;
    size: 100px;
}
#immagine3 {
    float: left;
    padding-left: 50px;
    margin-top: 50px;
    position: static;
    size: 100px;
}
#immagine4 {
    float: left;
    padding-left: 90px;
    margin-top: 1700px;
    position: absolute;
    size: 100px;
}
#immagine5 {
    float: left;
    padding-left: 390px;
    margin-top: 1700px;
    position: absolute;
    size: 100px;
}
#terzaimg {
    float: left;
    padding-left: 2px;
    margin-top: 250px;
    position: static;
    size: 100px;
  }
  #titolo3 {
    float: left;
    position: absolute;
    font-size: 40px;
    padding-left: 420px;
    margin-top: 2110px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#Savoury {
    text-align: left;
    float: left;
    padding-left: 270px;
    padding-top: 2420px;
    font-size: 30px;
    font-style: oblique;
    font-family: cursive;
    color: rgb(255, 136, 0);
    position: absolute;
}
#break2 {
    text-align: left;
    position: absolute;
    float: left;
    padding-left: 240px;
    padding-top: 2470px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 14, 75);
}
.dentrotestatatre{
    text-align: center;
    float: left;
    padding-left: 100px;
    font-size: 25px;
    font-weight: 400;
    width: 620px;
    height: 600px;
    position: absolute;
    padding-top: 2540px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#salatauno {
    float: left;
    padding-left: 1100px;
    margin-top: 2415px;
    position: absolute;
    size: 100px;
}
#salatadue {
    float: left;
    padding-left: 800px;
    margin-top: 75px;
    size: 40px;
}
#salatatre {
    float: left;
    padding-left: 1100px;
    margin-top: 2620px;
    position: absolute;
    size: 100px;
}
#salataquattro {
    float: left;
    padding-left: 800px;
    margin-top: 2619px;
    position: absolute;
    size: 100px;
}
#chiusura {
    float: left;
    padding-left: 0px;
    margin-top: 3000px;
    position: absolute;
    height: 70px;
    size: 20px;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}